-# views/booking/index.html.haml

%h1= boat_booker_date(Time.now)
%table#bookings
  %thead
    %tr
      %th From
      %th To
      %th
  - @bookings.each do |booking|
    %tr
      %td #{boat_booker_time(booking.book_from)}
      %td #{boat_booker_time(booking.book_to)}
      %td= link_to "Edit", edit_booking_path(booking)

%p= link_to("Create new booking", new_booking_path)