-# views/booking/new.html.haml

%h1= boat_booker_date(Time.now)

= form_for @booking do |f|
  = f.label :from, 'From'
  = time_select(:booking, :from, { minute_step: 15, prompt: true })
  = f.label :to, 'To'
  = time_select(:booking, :to, { minute_step: 15, prompt: true })
  = submit_tag 'Book it!'