-# views/booking/new.html.haml

%h1 Oxford Medley Boat Club

%h2 New Booking

= form_for @booking do |f|
  %div
    = label_tag :date, 'Date:'
    = select('date', 'day', @day_options, { include_blank: true })
    %span /
    = select('date', 'month', @month_options, { include_blank: true })
  %div
    = label_tag :book, 'From:'
    = select('book', 'from', @from_time_options, { include_blank: true })
    = label_tag :book, 'To:'
    = select('book', 'to', @to_time_options, { include_blank: true })
  %div
    = submit_tag 'Book it!'